.abootMe{
    color:  white;
    font-size: 15px;
    font-family: 'Marvel', sans-serif;
    text-align: center;
    float: left;
}

#aboutMe{
    font-family: 'Marvel', sans-serif;
}

#about #aboutMe{
    position: absolute !important;
    left: 150px;
    top: 340px;
    
}

h3{
    float: right;
    text-decoration-line: underline;
    font-family: 'Permanent Marker', serif;
    color: white;
    font-size: 40px;
}
