.abootMe{
    color:  white;
    font-size: 20px;
    font-family: 'Marvel', sans-serif;
    text-align: center;
    float: right;
}

#aboutMe{
    font-family: 'Marvel', sans-serif;
}

#about #aboutMe{
    position: relative;
    top: 100px;
}

h3{
    float: right;
    text-decoration-line: underline;
    font-family: 'Permanent Marker', serif;
    color: white;
    font-size: 40px;
}
