.abootMe{
    color:  rgb(120, 181, 255);
    font-size: 20px;
    font-family: 'Marvel', sans-serif;
    text-align: center;
}

#aboutMe{
    font-family: 'Marvel', sans-serif;
}

#about #aboutMe{
    position: relative;
    top: 100px;
}

h2{
    float: right;
}