#jumboTron{
    background: url("../assets/picassoAtTheLapinAgile.jpg") center no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Marvel', sans-serif;
}

