#navStyle{
    background: rgb(120, 181, 255) !important;
    font-family: 'Bungee Shade', arial;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#navStyle a{
    color: rgb(110, 68, 4);
    font-size: 40px;
    margin: 0;
    left: 10px;
    padding: 0;
    border: 0;
}

#listStyle{
    position: absolute;
    right: 200px;
    font-family: 'Bungee Shade', arial;
}

#listStyle a{
    color: rgb(110, 68, 4);
    font-size: 20px;
    align-content: right;
    padding: 10px;
}

.dropdown-menu{
    background: rgb(120, 181, 255);
}

#navbarDropdownMenuLink {
    right: 150px;
}
